<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="/public/reset.css" rel="stylesheet" />
		<link href="/public/main.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="wrapper">
		<header>
			<div>
				<img src="/public/img/kristian.jpg" alt="manga-style headshot" />
			</div>
			<aside>
				<h3>Kristian Quirapas</h3>
				<p>Deeply involved in <strong>blockchain</strong>, <strong>decentralized infrastructure</strong>, and <strong>physical intelligence</strong>.</p>
			</aside>
		</header>
		<nav>
			<span><a href="/">home</a></span>
			<span><a href="/blog">blog</a></span>
			<span><a class="disable">dashboard</a></span>
			<span><a class="disable">store</a></span>
		</nav>
		<section>{% block content %}{% endblock %}</section>
		<footer>
			<span>&copy; <span hx-get="/api/year" hx-trigger="load" hx-swap="outerHTML"></span></span>
		</footer>
		</div>
	</body>
</html>
